# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Build directories
build/
dist/

# IDE specific files
.vscode/
.idea/

# Mac specific
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache